/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"

// Source desired key-position labels

#include "zmk-helpers/key-labels/glove80.h"

// Source unicode-chars for desired languages

#include "zmk-helpers/unicode-chars/german.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ctrl_sticky: ctrl_sticky {
            compatible = "zmk,behavior-sticky-key";
            label = "CTRL_STICKY";
            bindings = <&sk>;
            #binding-cells = <1>;
            release-after-ms = <500>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Print {
            bindings = <&trans>;
            key-positions = <16 22>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   | '     |
            // | CTRL  |  Z  |  X  |  C   |  V   |  B   |        |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | ALT | ESC  | LOWER|SPACE |  GUI   |  | ENTER | SPACE| RAISE | CTRL  | ALT  |

            bindings = <
&kp ESCAPE      &kp N1  &kp N2        &kp N3        &kp N4  &kp N5                           &kp N6     &kp N7  &kp N8         &kp N9    &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W         &kp E         &kp R   &kp T                            &kp Y      &kp U   &kp I          &kp O     &kp P     &kp BACKSPACE
&kp LCTRL       &kp A   &kp S         &kp D         &kp F   &kp G                            &kp H      &kp J   &kp K          &kp L     &kp SEMI  &kp APOSTROPHE
&kp LEFT_SHIFT  &kp Z   &kp X         &kp C         &kp V   &kp B      &none        &none    &kp N      &kp M   &kp COMMA      &kp DOT   &kp FSLH  &kp BACKSPACE
                        &kp LEFT_WIN  &kp LEFT_ALT  &mo 1   &kp SPACE  &kp LCTRL    &kp RET  &kp SPACE  &mo 2   &kp BACKSPACE  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |  TAB  |   1 |VOL_D|VOL_U | MUTE |   5  |                   |      |  [    |  ]    |  0   |  F12  | DEL
            // | SHIFT |  !  |  @  |  #   |  $   |  %   |                   |  =   |  (    |  )    |  ^   |   &   | SHIFT |
            // | CTRL  |  =  |  -  |  +   |  [   |  ]   |       |  |        |      |  {    |  }    |  :   |   \   |   |   |
            //               | ALT | CTRL |      | SPACE|  GUI  |  | ENTER  | SPACE|       | CTRL  | ALT  |

            bindings = <
&kp GRAVE       &kp F1                 &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &kp F5                           &kp F6        &kp F7                &kp F8                 &kp F9            &kp F10            &kp F11
&kp TAB         &kp N1                 &kp NUMBER_2       &kp NUMBER_3     &kp NUMBER_4  &kp N5                           &kp NUMBER_6  &kp N7                &kp N8                 &kp N9            &kp N0             &kp DEL
&kp LCTRL       &ctrl_sticky LEFT_WIN  &sk LEFT_ALT       &sk LEFT_SHIFT   &sk LCTRL     &kp F5                           &kp EQUAL     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PIPE
&kp LEFT_SHIFT  &kp F1                 &kp F2             &kp F3           &kp F4        &kp F5     &trans       &trans   &kp TILDE     &kp PLUS              &kp MINUS              &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DELETE
                                       &kp LALT           &kp ESC          &trans        &kp SPACE  &kp LCTRL    &kp RET  &kp SPACE     &mo 3                 &kp DEL                &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR | BT1  | BT2  | BT3  |  BT4  |  BT5 |                 |      |       |       |      |       |BTCLR  |
            // | TAB  | INS  | PSCR | GUI  |       |      |                 |      | PGUP  |   ^   | PGDN |       | DEL   |
            // | SHIF | ALT  | CTRL |SHIFT |       | CAPS |                 |      |   <-  |   v   |  ->  |  DEL  | SHIFT |
            // | CTRL | UNDO | CUT  | COPY | PASTE |      |      |  |       |      | HOME  |       | END  |       | ENTER |
            //               | ALT  | CTRL |       | SPACE|  GUI |  | ENTER | SPACE|       | CTRL  | ALT  |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                           &trans         &trans          &trans           &trans     &trans         &kp PRINTSCREEN
&kp ESC     &kp INS       &kp PSCRN     &kp K_CMENU     &kp LEFT_BRACE  &kp RIGHT_BRACE                        &kp PAGE_UP    &kp HOME        &kp UP           &kp END    &trans         &kp BACKSPACE
&kp LCTRL   &sk LEFT_WIN  &sk LEFT_ALT  &sk LEFT_SHIFT  &sk LCTRL       &kp TAB                                &kp PAGE_DOWN  &kp LEFT        &kp DOWN         &kp RIGHT  &kp BACKSLASH  &kp RSHFT
&kp LSHFT   &kp LC(Z)     &kp LC(X)     &kp LC(C)       &kp LC(V)       &trans           &trans       &trans   &trans         &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp END    &trans         &kp RET
                          &kp LALT      &kp ESC         &mo 3           &kp SPACE        &kp LCTRL    &kp RET  &kp SPACE      &trans          &kp RCTRL        &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &de_ae  &kp g  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
